body {

    font-family: 'PT Serif', serif;
    max-width: 700px;
    margin: 0 auto;
    background-color: #FFEEDB;
    padding: 0 20px;

}

h1 {
    text-align: center;
}

article h1 {
    text-align: left;
}
