@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);

html {
    height: 100%;
}

body {

    font-family: 'PT Serif', serif;
    width: 100%;
    background-color: #EEE;
    margin: 0;
    height: 100%;
}

h1 {
    text-align: left;
    font-size: 1.9em;
    text-shadow: 1px 1px 2px #333;
}
h2 {
    text-align: left;
    font-size: 1.7em;
    text-shadow: 1px 1px 2px #333;
}

div#wrap {
    min-height: 100%;
    padding: 0 20px 40px 20px;
}

main {
    max-width: 700px;
    margin: 0 auto;
    overflow:auto;
}

main a {
    color: #009;
    transition-property: color;
    transition-duration: 0.4s;
}

main a:hover {
    color: #900;

}

footer {
    box-shadow: inset 0 7px 12px -7px #000;
    font-family: sans-serif;
    font-size: 0.8em;
    width: 100%;
    background: #30303B;
    margin-top: -50px;
    height: 35px;
    padding: 10px 0 5px 0;
    color: #DDD;
    text-align: center;
}

footer a {
    color: #DDD;
    font-style: italic;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.4s;
}

footer a:hover {
    text-decoration: underline;
    color: #FAA;
    color: #CFC;
}

pre {
    border-radius: 5px;
    padding: 10px;
    background: #333333;
    color: #ffffff;
    box-shadow: inset 0 0 10px #000;
    overflow-x: auto;
    font-family: "Monaco", monospace;
}
