@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);

html {
    height: 100%;
}

body {

    font-family: 'PT Serif', serif;
    width: 100%;
    background-color: #EEE;
    margin: 0;
    height: 100%;

}

h1 {
    text-align: left;
    font-size: 1.9em;
}
h2 {
    text-align: left;
    font-size: 1.7em;
}

div#wrap {
    min-height: 100%;
    padding: 0 20px 0px 20px;
}

main {
    max-width: 700px;
    margin: 0 auto;
    overflow:auto;
    padding-bottom: 40px;
    display: block;
}

main a {
    color: #009;
    transition-property: color;
    transition-duration: 0.4s;
    /** Long links may be arbitrarily broken */
    word-wrap: break-word;
}

main a:hover {
    color: #900;

}

table {
    border-collapse: collapse;
}

table th {
    background: #e1e1e1;
    text-align: left;
}

table th, table td {
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: #555;
    padding: 2px 30px 2px 5px;
}

footer {
    box-shadow: inset 0 7px 12px -7px #000;
    font-family: sans-serif;
    font-size: 0.8em;
    width: 100%;
    background: #30303B;
    margin-top: -35px;
    height: 15px;
    padding: 10px 0;
    color: #DDD;
    text-align: center;
    background-repeat: no-repeat;
    background-position: right bottom 5px;
}

footer a {
    color: #DDD;
    font-style: italic;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.4s;
}

footer a:hover {
    text-decoration: underline;
    color: #FAA;
    color: #CFC;
}

pre {
    border-radius: 3px;
    padding: 8px 8px 0 8px;
    background: #e1e1e1;
    color: #000;
    overflow-x: auto;
    font-family: "Monaco", monospace;
}
.flower {
	background-image: url(../resources/flowerstatic.gif), url(../resources/flower200.gif);
	background-repeat: no-repeat;
	background-position: 0 0, 0 70px;
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}

.flower:hover {
	background-position: -70px 0, 0 0;
}

blockquote {

    border-left: 15px solid #CCC;
    margin: 0;
    padding-left: 5px;

}

code {
     padding: 0;
     padding-top: 0.2em;
     padding-bottom: 0.2em;
     margin: 0;
     background-color: rgba(0,0,0,0.09);
     border-radius: 2px;
}

code:before,
code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}
