<!DOCTYPE html>
<head>
    <title>{{ page.title }}</title>
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="/css/desert.css" type="text/css" rel="stylesheet" />
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
  <div id="wrap">
      <main>
        {{ content }}
      </main>
   </div>
   <footer>
     This article was written by <a href="/">Evert Pot</a>. Find me on <a href="https://twitter.com/evertp">Twitter</a> or <a href="https://github.com/evert">Github</a>.
   </footer>
</body>
