<!DOCTYPE html>
<html {%if page.amp%}⚡ {%endif%}lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/bijsterespoor" title="Atom feed" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="canonical" href="https://evertpot.com{{page.url}}" />

    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <link rel="openid.server" href="https://indieauth.com/openid" />
    <link rel="openid.delegate" href="http://evertpot.com/" />

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    {% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    {% if page.amp %}
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "NewsArticle",
          "headline": "{{ page.title | truncate: 106 }}",
          {% if page.date %}"datePublished": "{{ page.date | date_to_xmlschema }}",{% endif %}
          "author": {
            "@type": "Person",
            "name": "Evert Pot"
          },
           "publisher": {
            "@type": "Organization",
            "name": "Evert Pot",
            "logo" : {
                "@type" : "ImageObject",
                "url" : "/resources/flower-amp.png",
                "height": "60",
                "width" : "47"
            }
          },
          "description": {{ page.excerpt | strip_html | jsonify }},
          "image" : {
             "@type" : "ImageObject",
             "url" : "/resources/flower-amp.png",
             "height": "60",
             "width" : "47"
           }
        }
    </script>
    {% endif %}


    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700" rel="stylesheet" type="text/css">
    <style amp-custom>
        {% include css/stylesheet.css %}
        {% include css/monokai.css %}
    </style>

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-analytics"
        src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

</head>
<body>
  <div id="wrap">
      <main>
        {{ content }}
        <div class="flower">
        </div>
      </main>

   </div>
   <footer>
     Written by <a href="/">Evert Pot</a>. Find me on <a href="https://twitter.com/evertp">Twitter</a> or <a href="https://github.com/evert">Github</a>.
   </footer>

    <amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
    {
      "vars": {
        "account": "UA-2848664-4"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
    </amp-analytics>

</body>

</html>
