<!DOCTYPE html>
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1">
<link href="/resources/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="http://gmpg.org/xfn/11" rel="profile">

<title>
  {% if page.title %}{{ page.title }} &middot; {% endif %}
  Het Bijstere spoor
</title>

<!-- CSS -->
<link rel="stylesheet" href="/resources/css/hyde.css">
<link rel="stylesheet" href="/resources/css/styles.css">
<link rel="stylesheet" href="/resources/css/desert.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">

<!-- Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/resources/touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="/resources/favicon.png">

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>


  <body>

    <header class="masthead">

      <div class="masthead-inner">
        <a href="/">
          <img src="/resources/favicon.png" />
        </a>
        <p class="lead"><a href="/">Het Bijstere spoor</a>

          <br/><br/>

          I'm the lead developer of <a href="https://github.com/fruux/sabre-dav/">SabreDAV</a>, and one of <a href="https://fruux.com/">fruux</a>' co-founders and CTO.
        </p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="https://twitter.com/evertp">@evertp</a>
            </li>
            <li>
              <a href="https://github.com/evert">GitHub</a>
            </li>
          </ul>

          <p>&copy; 2006-2013. All rights reserved.</p>
        </div>

      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2848664-4']);
_gaq.push(['_setDomainName', 'evertpot.com']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

