---
layout: default
---

<article>
<p>
<time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>
{% if page.update_date %}(last updated: <time datetime="{{ page.update_date | date: "%Y-%m-%d" }}">{{ page.update_date | date: "%B %d, %Y" }}</time>){% endif %}
</p>

<h1>{{page.title}}</h1>

{{ content }}

</article>

{% if page.tags contains 'http-series' %}
<section class="http-series">

    <h2>HTTP series</h2>

    <p>
      This article is part of an ongoing series about the HTTP protocol.
    </p>

    <p>
      If you want to follow along as I write them, you can Subscribe to my
      <a href="/atom.xml">Atom feed</a> or
      <a href="http://eepurl.com/dzjtcv">Mailing list</a>.
    </p>

    <h3>Archive</h3>
    <ul>
    {% for post in site.tags.http-series reversed %}
      <li>
         <a href="{{ post.url }}">{{ post.title }}</a>
         <span>({{ post.date | date:"%Y-%m-%d" }})</span>
      </li>
    {% endfor %}
    </ul>

</section>

{% endif %}

<!--
<section class="hireme">
    Looking for a CTO or senior developer for your next project? I'm looking for contracts or full-time gigs!
    Check out my <a href="/resume.html">resume</a> or <a href="mailto:work@evertpot.com">drop me a line!</a>
</section>
-->

<section class="webmentions">

<h1>Web mentions</h1>

<div id="webmentions">
</div>

</section>

{% assign comments = site.data.comments[page.id] %}
{% include comments.html comments=comments %}

