---
layout: default
---

{% if page.draft %}
<div class="draft-warning">This is a DRAFT. Do not share</div>
{% endif %}

<div class="subscribe"><a href="/subscribe">subscribe</a></div>
<article class="h-entry">
<time datetime="{{ page.date | date: "%Y-%m-%d" }}" class="dt-published">{{ page.date | date: "%B %d, %Y" }}</time>
{% if page.update_date %}(last updated: <time datetime="{{ page.update_date | date: "%Y-%m-%d" }}">{{ page.update_date | date: "%B %d, %Y" }}</time>){% endif %}



<h1 class="p-name">{{page.title}}</h1>

<div class="e-content">
{{ content }}
</div>

</article>

{% if page.tags contains 'http-series' %}{% include http-series.html %}{% endif %}

<!--
<section class="hireme">
    Looking for a CTO or senior developer for your next project? I'm looking for contracts or full-time gigs!
    Check out my <a href="/resume.html">resume</a> or <a href="mailto:work@evertpot.com">drop me a line!</a>
</section>
-->

<!--
<div class="badgateway">
  <div>
    <p class="banner"><a href="https://badgateway.net/"><img alt="Bad Gateway" title="Bad Gateway" src="/assets/img/bad-gateway.png" /></a></p>
    <p>
      Bad Gateway is Toronto-based team of software engineers. We build good APIs and websites.
    </p>
    <p>
      <a href="mailto:info@badgateway.net" class="btn">Email us</a>
    </p>

  </div>
</div>
-->

<section class="webmentions">

<h1>Web mentions</h1>

<div id="webmentions">
</div>

</section>

{% assign comments = site.data.comments[page.id] %}
{% include comments.html comments=comments %}

