---
layout: default
---

<article>
<p><time datetime="{{ page.date | date: %Y-%m-%d }}">{{ page.date | date: "%B %d, %Y" }}</time></p>

<h1>{{page.title}}</h1>

{{ content }}

</article>

<!--
<section class="hireme">
    Looking for a PHP developer for your next project? I'm looking for work!
    Check out my <a href="/resume.html">resume</a> or <a href="mailto:work@evertpot.com">drop me a line!</a>
</section>
-->

<section class="respond">

<amp-iframe width="300" height="300"
            layout="responsive"
            resizable
            frameborder="0"
            src="https://evertpot.com/disqus.html?id={{page.id}}">
    <div overflow tabindex=0 role=button aria-label="Read more">more!</div>
</amp-iframe>



</section>
